body{
  background-color: rgb(246, 167, 87);
  position: relative;
}
.photoModal{
  position: absolute;
  width : 1400px;
  height: 900px;
}
.remove-after-modal{
  left: 10%;
  transition-duration: 0.8s;
}
.remove-before-modal{
  left: 105%;
}

.img-hbs{
  width: 120px;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
}
.search-input{
  height: 50px;
  width: 200px;
  display: block;
  margin: 0 auto;
  border: solid 5px brown;
  font-size: 30px;
  color: chartreuse;
  text-transform: uppercase;
}
.search-input::placeholder{
  font-size: 20px;
  color: white;
  background-color: black;
}
.delete-button__display-none{
  display: none;
}
.delete-button{
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 30px;
  color:black;
  background-color: pink;
  border: solid 3px rebeccapurple;
}
.delete-button:hover{
  background-color: red;
}
.search-form{
  padding-top: 50px;
  margin-bottom: 20px;
}
.menu__item{
  list-style: none;
  margin-right: 30px;
  -webkit-box-shadow: 37px 39px 37px 0px rgba(235,194,12,0.81);
  -moz-box-shadow: 37px 39px 37px 0px rgba(235,194,12,0.81);
  box-shadow: 37px 39px 37px 0px rgba(235,194,12,0.81);
}
.load-more__display-none{
  display: none;
}
.load-more{
  display: block;
  background-color: olivedrab;
  width: 120px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 180px;
  margin-top: 16px;
}
.load-more:hover{
  background-color:orange;
}
.like{
  color: red;
}
.view{
  color: blue;
}
.comment{
  color: green;
}
.icons{
  color: yellow;
}
.stats-item{
  color:yellowgreen;
  font-size: 30px;
}