body{
  background-color: rgb(246, 167, 87);
}
.img-hbs{
  width: 120px;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
}
.search-input{
  height: 50px;
  width: 200px;
  display: block;
  margin: 0 auto;
  border: solid 5px brown;
  font-size: 30px;
  color: chartreuse;
  text-transform: uppercase;
}
.search-input::placeholder{
  font-size: 20px;
  color: white;
  background-color: black;
}
.delete-button{
  position: absolute;
  display: block;
  height: 80px;
  width: 200px;
  top: 56px;
  right: 600px;
  font-size: 16px;
  color:black;
  background-color: pink;
  border: solid 3px rebeccapurple;
}
.delete-button:hover{
  background-color: red;
}
.search-form{
 position: relative;
  padding-top: 50px;
  margin-bottom: 100px;
}
.menu__item{
  list-style: none;
  margin-right: 30px;
}
.load-more__display-none{
  display: none;
}
.load-more{
  display: block;
  background-color: olivedrab;
  width: 120px;
  height: 30px;
  margin: 0 auto;
}
.load-more:hover{
  background-color:orange;
}