body{
  position: relative;
  padding-bottom: 300px;
  background-color: rgb(141, 140, 140);
}
.photoModal{
  position: fixed;
  width : 50%;
  height: 60vh;
  border-radius: 5%;
  object-fit: cover;
}
.remove-after-modal{
  display: block;
  left: 25%;
  top: 12%;
  transition-duration: 0.8s;
}
.remove-before-modal{
  display: none;
  left: 105%;
}
.search-input{
  height: 80px;
  width: 35vh;
  display: block;
  margin: 0 auto;
  border: solid 5px rgb(78, 76, 76);
  font-size: 20px;
  padding-left: 20px;
  color: rgb(139, 139, 138);
  text-transform: uppercase;
}
.search-input::placeholder{
  font-size: 20px;
}
.delete-button__display-none{
  display: none;
}
.delete-button{
  position: fixed;
  display: block;
  width: 100px;
  height: 100px;
  font-size: 30px;
  border-radius: 50%;
  text-align: center;
  left: 53%;
  bottom: 5%;
  color:rgb(235, 227, 227);
  background-color: rgb(231, 82, 107);
  border: solid 3px rgb(240, 231, 231);
}
.delete-button:hover{
  background-color: red;
}
.load-more__display-none{
  display: none;
}
.load-more{
  position: fixed;
  display: block;
  width: 100px;
  height: 100px;
  font-size: 30px;
  border-radius: 50%;
  color:rgb(235, 227, 227);
  text-align: center;
  left:  43%;
  bottom: 5%;
  background-color: rgb(146, 182, 76);
  border: solid 3px rgb(240, 231, 231);
}
.load-more:hover{
  background-color:rgb(128, 192, 0);
}

.climb-up-button{
  position: fixed;
  display: block;
  width: 100px;
  height: 100px;
  font-size: 30px;
  border-radius: 50%;
  text-align: center;
  left:  90%;
  bottom: 5%;
  background-color: rgb(235, 162, 5);
  border: solid 3px rgb(240, 231, 231);
}
.climb-up__display-none{
  display: none;
}
.climb-up-button:hover{
  background-color: rgb(248, 121, 3);
}
.climb-up__link{
  text-decoration: none;
  color:rgb(235, 227, 227);
}
.search-form{
  padding-top: 50px;
  margin-bottom: 20px;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}
.gallery__item{
  list-style: none;
  width: 21%;
  margin-bottom: 50px;
}
.gallery__item:nth-last-child(-n+4){
  margin-bottom: 0px;
}
.gallery__img{
  width: 100%;
  height: 25vh;
  border-radius: 5%;
  object-fit: cover;

}
.stats{
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.stats-item{
  width: 21%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  color: aliceblue;
}

.like{
  color: rgb(231, 207, 99);
}
.view{
  color: rgb(84, 196, 84);
}
.comment{
  color: green;
}
.icons{
  color: yellow;
}
